* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.only-pc {
  display: block;
}

.only-sp {
  display: none;
}

@media screen and (max-width: 812px) {
  .only-pc {
    display: none;
  }

  .only-sp {
    display: block;
  }

  img {
    width: 100%;
  }
}

.hero_area,.concept,.florist,.contactus {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

@media screen and (max-width: 812px) {
  .hero_area,.concept,.florist,.contactus {
    width: 100%;
    position: initial;
    margin: 0;
  }
}


main {
  width: 960px;
  margin: 0 auto;
  color: #2B2B2B;
}

@media screen and (max-width: 812px){
  main {
    width: 100%;
  }
}
header{
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 1;
  background: rgba(51,51,51,.5);
  .navi {
    width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    span {
      font-size: 36px;
    }
  }
  #menu {
    position: absolute;
    top: 0;
    right: -80%;
    background: #fff;
    padding: 30px;
    transition: 1s;
    width: 35%;
    height: 100vw;
    ul {
      li {
        list-style: none;
        padding-bottom: 20px;
        a {
          font-size: 20px;
          text-decoration: none;
          color: #333;
          transition: .5s;
        }
        a:hover {
          opacity: .5;
        }
      }
    }
  }
  #menu.close {
    right: 0;
  }
  #hamburger {
    width: 32px;
    height: 18px;
    position: relative;
    .hamburger_line {
      width: 100%;
      height: 1px;
      background: #fff;
      transition: all .6s;
      position: absolute;
      z-index: 10;
      &.close {
        background: #333;
      }
    }
    #line01 {
      top: 0;
    }
    #line02 {
      top: 8px;
    }
    #line03 {
      top: 16px;
    }
    #line01.close {
      transform: rotateZ(45deg);
      top:8px;
    }
    #line02.close {
      transform: rotateZ(-45deg);
    }
    #line03.close {
      opacity: 0;
    }
  }
}

@media screen and (max-width: 812px){
  header {
      .navi {
          width: 100%;
          padding: 0 10px;
          span {
              font-size: 16px;
          }
      }
      #menu {
        right: -40%;
        padding: 15px;
        width: 40%;
        ul {
          li {
            padding-bottom: 10px;
            a {
              font-size: 16px;
            }
          }
        }
      }
      #hamburger {
        width: 16px;
        height: 16px;
        #line01 {
          top: 4px;
        }
        #line02 {
          top: 8px;
        }
        #line03 {
          top: 12px;
        }
        #line01.close {
          transform: rotateZ(45deg);
          top:8px;
        }
        #line02.close {
          transform: rotateZ(-45deg);
        }
        #line03.close {
          opacity: 0;
        }
      }
  }
}


.hero_area {
  height: 620px;
  background: url(../img/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 120px;
    text-align: center;
    color: #fff;
    span {
      display: block;
      font-size: 16px;
      font-weight: 400;
    }
    span:before, span:after {
      content: "ー";
    }
  }
}
@media screen and (max-width: 812px) {
  .hero_area {
      height: 310px;
      h1 {
        font-size: 40px;
        span {
            font-size: 12px;
        }
    }
  }
}

.content {
  &_head {
    text-align: center;
    padding: 80px 0 40px;
    h2 {
      font-size: 36px;
    }
    p {
      font-size: 16px;
    }
  }
  &_card--wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 960px;
    margin: 0 auto;
  }
  .content_head h2:after {
    content: "";
    display: block;
    margin: 24px auto 32px;
    border-bottom: 1px solid #333333;
    width: 40px;
  }
}
@media screen and (max-width: 812px) {
  .content {
      padding: 0 15px;
      width: auto;
      margin: 0 auto;
      h2 {
          font-size: 16px;
      }
      p{
          font-size: 12px;
      }
      &_card--wrapper {
          width: 100%;
          flex-direction: column;
      }
      &_head {
        padding: 40px 0 20px;
      }
      .content_head h2:after{
          width: 20px;
      }
  }
}
.concept {
  padding: 80px 0;
  background: linear-gradient(#fff 70%, #EDEDED 30%);
  img {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 812px) {
  .concept {
    padding: 40px 15px;
  }
}

.work {
  &_card {
    width: 43.75%;
    h3 {
      font-size: 24px;
      font-weight: 600;
      margin: 16px 0 8px;
    }
    p {
      font-size: 16px;
    }
  }
}
.work_card:nth-child(2){
  margin-top: 120px;
}
.work_card:nth-child(3){
  margin-top: -186px;
}
.work_card:last-child{
  margin-top: 80px;
}

@media screen and (max-width: 812px){
  .work {
    .content_card--wrapper {
      flex-direction: row;
    }
  }
  .work_card:nth-child(2){
    margin-top: 60px;
  }
  .work_card:nth-child(3){
    margin-top: -30px;
  }
  .work_card:last-child{
    margin-top: 40px;
  }
}

.florist {
  margin-top: 100px;
  background: linear-gradient(#EDEDED 60%, #fff 40%);
  &_card {
    width: 31.25%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    &--name {
      order: 2;
      font-size: 24px;
      font-weight: 600;
      margin: 12px 0 6px;
    }
    &--prof {
      order: 3;
      font-size: 16px;
    }
    &--thumb {
      order: 1;
    }
  }
}
@media screen and (max-width: 812px){
  .florist {
    margin-top: 50px;
    &_card {
      width: 100%;
      &--name {
        font-size: 18px;
      }
      &--prof {
        font-size: 14px;
      }
    }
  }
}

.info{
  &--wrapper {
    display: flex;
    justify-content: space-between;
  }
  &_card {
    &--wrapper {
      width: 45%;
      display: flex;
      flex-direction: column;
      padding: 32px 0 28px;
    }
    display: flex;
    padding: 0 40px;
    &--head {
      border-right: 1px solid #A0A0A0;
      font-size: 16px;
      font-weight: 400;
      min-width: 80px;
    }
    &--body {
      font-size: 16px;
      padding: 0 0 12px 16px;
    }
  }
}
.info_card:not(:last-child){
  margin-bottom: 12px;
}

@media screen and (max-width: 812px){
  .info{
    &--wrapper{
      flex-direction: column;
    }
    &_card{
      padding: 0;
      &--wrapper {
        width: 100%;
        padding: 16px;
      }
      &--head {
        font-size: 14px;
      }
      &--body {
        font-size: 12px;
      }
    }
  }
}

.contactus {
  height: 450px;
  background: url(../img/contact_us.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 120px;
  &_button {
    width: 37.5%;
    padding: 30px 0;
    margin: 0 auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #A0A0A0;
    span{
      padding-left: 24px;
    }
  }
}

@media screen and (max-width: 812px) {
  .contactus {
    margin-top: 60px;
    &_button {
      width: 80%;
      padding: 15px 0;
      font-size: 14px;
      span {
        padding-left: 12px;
      }
    }
  }
}

footer {
  font-size: 16px;
  text-align: center;
  padding: 12px 0;
}
@media screen and (max-width: 812px) {
  footer {
    font-size: 12px;
  }
}

.gg-mail,
.gg-mail::after {
    display: block;
    box-sizing: border-box;
    height: 20px;
    border: 2px solid #707070;
}
.gg-mail {
    overflow: hidden;
    transform: scale(var(--ggs,1));
    position: relative;
    width: 30px;
}
.gg-mail::after {
    content: "";
    position: absolute;
    border-radius: 2px;
    width: 20px;
    transform: rotate(-45deg);
    bottom: 8px;
    left: 3px
}

@media screen and (max-width: 812px) {
  .gg-mail,
  .gg-mail::after {
    height: 15px;
  }
  .gg-mail {
    width: 20px;
  }
  .gg-mail::after {
    bottom: 6px;
    left: 0px;   
  }
}